* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}
.cabecalho {
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #fff;
  font-size: 2rem;
  height: 8rem;
  border-bottom: 1px solid #ccc;
}
h2 {
  padding-bottom: 20px;
  color: rgb(57, 92, 122);
}

.title {
  text-transform: uppercase;
  text-shadow: 0px 0px 10px #fff;
}
section.conteudo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: #ccc;
  display: flex;
  border: 1px solid #ccc;
}
aside.lateral ol {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  background-color: rgb(19, 16, 16);
  border-right: 1px solid #ccc;
}
.lateral li {
  color: #fff;
  text-transform: uppercase;
  list-style: none;
  padding-bottom: 25px;
  font-weight: bolder;
  letter-spacing: 4px;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  margin: 25px;
  border-radius: 15px;
  padding-left: 10px;
  gap: 30px;
}
img {
  width: 400px;
  height: 300px;
}
article.art1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: 10px;
  padding-left: 50px;
}

.rodape {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  background-color: black;
  height: 10vh;
  font-size: 1.5rem;
  font-weight: bolder;
  font-style: italic;
}
